body {
	border: 5px solid black;
	border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
	width: 750px; 
    padding-right: 30px;
    padding-left: 30px;
    margin: 20px auto;
}

body, nav {
	font-family: 'Open Sans Condensed', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	background-color: rgba(127, 140, 141, .7);
}

a:visited {
	color: black;
}

a:active {
	color: white;
}
.main-nav {
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: -20px;
}

#main-name {
	text-align: center;
	text-transform: uppercase;
}

#whatareyou {
	letter-spacing: 2px;
	padding-top: 20px;
}

#portfolio-title {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footer-nav {
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 60px;
	margin-bottom: -30px;
}

#present-small {
	font-size: 13px;
}

#selected-page {
	font-style: italic;
	text-decoration: underline;
}

#profile-pic {
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	float: right;
	display: block;
	clear: left;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
}

#relaxr-img {
	border-color: gray;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}
