body{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;	
	text-align: center;
	font-family: sans-serif;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	padding-bottom: 30px;
}

h1{
font-size: 50px;
font-weight: bold;
}
/*
text-indent: 200px;
*/
