body{
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 60px;
	margin-bottom: 60px;
	background-color: white;
	color: black;
	text-align: center;
	font-family: sans-serif;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	padding-bottom: 30px;
}
h1{
  font-size: 50px;
  font-weight: bold;
}
strong {text-align: left;
}
footer{
	padding-bottom: 1.5cm;
}

/*

*/